@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");
@keyframes wordchange {
  0% {
    content: "Men";
  }
  20% {
    content: "Women";
  }
  40% {
    content: "Kids";
  }
  60% {
    content: "yourself";
  }
  80% {
    content: "Women";
  }
  100% {
    content: "Kids";
  }
}
.row {
  padding: 0 !important;
}

.header .nav-link {
  text-transform: capitalize;
  font-weight: 500;
  color: black;
}
.header .navbar-nav {
  font: 100% Noto Sans, sans-serif;
}
.header .navbar-brand {
  display: block;
}
.header .search-div {
  position: relative;
  display: none;
}
.header #search {
  border: none;
  width: 450px;
  height: 32px;
  border-bottom: 1px solid black;
  padding: 0 10px;
}
.header #search:focus {
  outline: 2px solid red;
  background-color: white;
  border-radius: 10px;
}
.header .search-btn {
  border: none;
  background-color: transparent;
}
.header .btn-big {
  position: absolute;
  right: 2%;
  bottom: 2%;
  font-size: 18px;
}
.header .x-btn {
  opacity: 0;
  position: absolute;
  right: 8%;
  bottom: 2%;
  color: red;
  transition: opacity 2s ease;
}
.header #search:focus + .x-btn {
  opacity: 1;
}

.main-drop {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 0;
  width: 96vw;
  height: 350px;
}
.main-drop h3 a {
  font: 100% Noto Sans, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 26px;
  color: black;
}
.main-drop .drop-header {
  background-color: red;
}
.main-drop .drop-header > li:nth-child(2) {
  margin-left: 250px;
}
.main-drop .drop-header > li:nth-child(3) {
  margin-left: 150px;
}
.main-drop .main-link > a {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.main-drop .main-link > a::after {
  font: var(--fa-font-solid);
  content: "\f078";
  margin-left: 7px;
  font-size: 17px;
}
.main-drop .sub-menu {
  border-radius: 0;
  border: none;
  width: 180px;
  height: 191px;
  position: relative;
}
.main-drop .sub-menu > .submenu-li > a {
  font: 100% Noto Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #f5f5f5;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.main-drop .sub-menu .sub, .main-drop .sub-menu .sub2 {
  position: absolute;
  left: 100%;
  top: -40%;
}
.main-drop .sub-menu .sub2 {
  top: -150%;
}
.main-drop .sub-submenu {
  border: none;
  border-radius: 0;
  height: 191px;
  width: 180px;
}
.main-drop .sub-submenu > li a {
  font: 100% Noto Sans, sans-serif;
  text-transform: capitalize;
  padding-bottom: 10px;
  font-weight: 500;
}
.main-drop .dropdown-menu .submenu-li > a::after {
  font: var(--fa-font-solid);
  content: "\f054";
  margin-left: 35px;
  font-size: 17px;
}
.main-drop .dropdown-menu .submenu-li .mov::after {
  margin-left: 55px;
}

.hero .herotext .hero-title {
  font-size: 25px;
  font-weight: 500;
}
.hero .herotext h1 {
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 0;
}
.hero .herotext span::after {
  content: "";
  animation: wordchange infinite 5s;
}
.hero .buttons button {
  font-weight: 700;
  border: 2px solid black;
  outline: none;
}
.hero .shopbtn {
  background-color: black;
  color: white;
}
.hero .learnbtn {
  background-color: white;
}

.viewbtn, .explorebtn {
  font-weight: 700;
  border: 2px solid black;
  outline: none;
  border: 1px solid black;
  background-color: white;
  padding: 0 50px;
  margin-top: 50px;
}

.collection .collectionText {
  font-weight: 700;
}
.collection .collectionText .collection-title {
  font-size: 48px;
  margin-top: -20px;
}
.collection .collectionText .leadpara {
  font-size: 30px;
  color: #616161;
}
.collection .collectionText .textpara {
  font-weight: 400;
  font-size: 13px;
  color: #424242;
}

.category {
  margin-top: 100px;
}
.category .section-header {
  text-transform: capitalize;
}
.category .section-header .section-title {
  font-weight: 700;
  font-size: 35px;
}
.category .section-header ul {
  list-style: none;
  padding-left: 0 !important;
}
.category .section-header li {
  display: inline-block;
}
.category .section-header a, .category .section-header a:visited, .category .section-header a:checked {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 15px 20px;
}
.category .section-header .active1 {
  border-bottom: 2px solid #828282;
  color: #828282;
  opacity: 0.5;
}
.category .section-header .subnav a {
  font-size: 17px;
  padding: 15px 20px;
  background-color: #f5f5f5;
}
.category .section-header .subnav .active2 {
  background-color: red;
}
.category .carousel {
  margin-top: 120px;
  position: relative;
}
.category .carousel .card {
  border: none;
}
.category .carousel .card .card-body {
  margin: -10px;
}
.category .carousel .card .card-title, .category .carousel .card .card-text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.category .carousel .card span, .category .carousel .card .card-text {
  font-weight: 400;
}
.category .carousel .card .card-text {
  font-size: 20px;
  margin-top: -7px;
}
.category .ctrl-btn {
  font-size: 45px;
  position: absolute;
  top: 35%;
  z-index: 9;
  width: 100%;
}
.category .ctrl-btn .pre-btn, .category .ctrl-btn .nxt-btn {
  border: none;
  background: none;
  opacity: 0.5;
}
.category .ctrl-btn .pre-btn:hover, .category .ctrl-btn .nxt-btn:hover {
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    flex: 0 0 auto;
    width: 33.3333333333%;
    display: block;
    margin-right: 0;
    margin-left: 15px;
  }
}
.blog .insights {
  width: 85%;
  background-color: #E0E0E0;
}
.blog .writer {
  font-size: 14px;
}
.blog .writer .writer-name {
  font-weight: 700;
}
.blog .readbtn {
  font-weight: 700;
  border: 2px solid black;
  outline: none;
  border-radius: 0;
  font-size: 14px;
  border: 1px solid black;
}

.blog-list .title {
  font-size: 48px;
  font-weight: 700;
}
.blog-list-title {
  font-size: 26px;
  font-weight: 700;
}
.blog-list-para {
  font-size: 20px;
  text-align: justify;
}
.blog-list .insights {
  width: 50%;
  background-color: #fdf8f8;
}

article .title {
  font-size: 48px;
  font-weight: 700;
  color: #212121;
}

.blog-news .insights {
  background-color: #e0e0e0;
}
.blog-news .blog-text {
  text-align: justify;
  font-size: 20px;
  color: #424242;
}

.button .readbtn {
  font-weight: 700;
  border: 2px solid black;
  outline: none;
  border: 1px solid black;
  border-radius: 0;
}

@media screen and (max-width: 650px) {
  body {
    overflow-x: hidden !important;
  }
  .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .hero .herotext .hero-title {
    font-size: 5px;
  }
  .hero .herotext h1 {
    font-size: 50px;
    margin-left: 20px;
  }
  .hero .buttons button {
    width: 100%;
    margin-bottom: 5px;
  }
  .collection .explorebtn, .collection .viewbtn {
    width: 100%;
  }
  .category .section-header .section-title {
    font-size: 32px;
  }
  .category .section-header li {
    padding: 5px;
  }
  .category .section-header a {
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) and (max-width: 2000px) {
  body {
    overflow-x: hidden !important;
  }
  .row {
    padding: 0;
  }
  .header .navbar-nav .allProdDrop {
    min-width: fit-content;
    min-height: 300px;
  }
  .header .navbar-nav .allProdDrop h3 {
    text-align: left;
    margin-left: 50px;
  }
  .header .navbar-nav .allProdDrop ul {
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }
  .hero .herotext h1 {
    width: 65%;
  }
  .collection .textcol {
    background-color: #F1F1F1;
  }
  .collection .collectionText {
    width: 60%;
    margin: 170px 0 0 70px;
    font-weight: 700;
  }
  .collection .collectionText .collection-title {
    font-size: 53px;
  }
  .collection .collectionText .textpara {
    width: 90%;
  }
  .collection .collectionText .explorebtn {
    padding: 10px 70px;
  }
  .collection .pic {
    background-color: #F1F1F1;
  }
}
.about h1 {
  font: 100% Jost, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  text-transform: uppercase;
}
.about-text {
  font: 100% Noto Sans, sans-serif;
}
.about-text h3 {
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700;
}
.about-text p {
  font-size: 32px;
  line-height: 42px;
}
.about .records h2 {
  text-transform: uppercase;
  font: 100% Jost, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
}
.about .records .record {
  flex-wrap: wrap;
}
.about .records .record .record-card {
  flex: 0 0 100%;
  height: 330px;
  padding: 20px;
  margin-top: 20px;
  background-color: #fbfbfb;
  position: relative;
  box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  cursor: default;
  transition: all 1.5s ease;
}
.about .records .record .record-card:hover {
  background-color: rgba(189, 58, 58, 0.05);
  transform: scale(1.1);
}
.about .records .record .record-card p {
  font: 100% Noto Sans, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}
.about .records .record .record-card img {
  margin: 20px 0;
}
.about .records .record .record-card h5 {
  color: red;
  font: 100% Noto Sans, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  position: absolute;
  bottom: 40px;
}
.about .record:hover .record-card {
  transform: scale(0.9);
}

@media screen and (min-width: 576px) {
  .about .records .record .record-card {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1200px) {
  .about .records .record .record-card {
    flex: 0 0 33.3333333333%;
  }
}
.recently-viewed {
  border: 1px solid rgb(225, 225, 225);
  width: 95%;
  border-radius: 10px;
  box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  margin: 100px 0 60px;
}
.recently-viewed .text h6 {
  font: 100% Noto Sans, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}
.recently-viewed .text a:visited, .recently-viewed .text a:link, .recently-viewed .text a:active {
  font: 100% Jost, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: rgb(189, 58, 58);
  text-decoration: none;
}
.recently-viewed hr {
  border: 2px solid #d1cfcf;
}
.recently-viewed .product-cards {
  flex-wrap: wrap;
  margin: 0 auto;
}
.recently-viewed .product-cards .card {
  flex: 0 0 95%;
  padding-top: 10px;
  border: none;
  cursor: pointer;
}
.recently-viewed .product-cards .card .card-img-top {
  border-radius: 10px 10px 0 0;
}
.recently-viewed .product-cards .card .card-title, .recently-viewed .product-cards .card .sub-title {
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
}
.recently-viewed .product-cards .card .sub-title {
  margin-top: -5px;
  font-weight: 400;
}
.recently-viewed .product-cards .card .card-text {
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}
.recently-viewed .product-cards .card .price {
  font-weight: bold;
  font-size: 14px;
}

@media screen and (min-width: 576px) {
  .recently-viewed .product-cards .card {
    flex: 0 0 50%;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .recently-viewed .product-cards .card {
    flex: 0 0 20%;
  }
}
.title {
  font: 100% Jost, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 100px 0;
}

.map {
  width: 90%;
  height: 80vh;
}

.contact-icon {
  width: 90%;
  margin: 100px 0;
  background-color: #fafafa;
  height: 200px;
}
.contact-icon p {
  margin-top: -5px;
  font: 100% Noto Sans, sans-serif;
  font-weight: 400;
  size: 18px;
  line-height: 20px;
}
.contact-icon h6 {
  font: 100% Noto Sans, sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
}
.contact-icon .image {
  box-shadow: 3px 4px 22px 2px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 3px 4px 22px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 3px 4px 22px 2px rgba(0, 0, 0, 0.07);
}

.contact-form h5 {
  font: 100% Jost, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 60px 0;
}
.contact-form input, .contact-form textarea {
  border: 2px solid #BD3A3A;
  padding: 15px;
  border-radius: 10px;
}
.contact-form label {
  margin: 20px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  font: 100% Noto Sans, sans-serif;
}
.contact-form button {
  border: none;
  background-color: #BD3A3A;
  border-radius: 10px;
  margin-top: 60px;
  color: white;
  font: 100% Noto Sans, sans-serif;
  line-height: 20px;
}

.product-main {
  border: 1px solid rgb(225, 225, 225);
  width: 97%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px 0 400px 0;
  margin-bottom: 50px;
}
.product-main .dash {
  width: 97%;
  height: 2px;
  background-color: rgba(190, 190, 190, 0.5215686275);
  margin: 0 auto;
}
.product-main .filter-header h4 {
  font: 100% Noto Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 30px;
}
.product-main .filter-header form {
  margin-right: 30px;
  margin-bottom: 15px;
  position: relative;
}
.product-main .filter-header form select {
  border: 2px solid #bebebe;
  border-radius: 5px;
}
.product-main .filter-header label {
  background-color: white;
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  top: -7px;
  left: 9%;
  font-weight: bold;
  color: #787885;
}
.product-main .result {
  font-size: 12px;
  color: #706D6D;
  line-height: 15px;
}
.product-main .filter-button {
  margin-right: 30px;
}
.product-main .filter-button button {
  padding: 4px 25px;
  border: none;
  border-radius: 5px;
}
.product-main .shadow {
  background-color: white;
  box-shadow: 10px 10px 5px #787885;
  color: red;
}

.products {
  padding: 0 15px;
}
.products .cards {
  margin: 10px 5px;
  box-shadow: 5px 5px 8px 3px #e4e4e4;
  transition: display 0.5s linear;
}
.products .cards .card-body {
  font: 100% Noto Sans, sans-serif;
  padding: 0 15px;
  margin-top: 10px;
}
.products .cards .card-body .card-title, .products .cards .card-body .sub-title {
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
}
.products .cards .card-body .sub-title {
  font-weight: 400;
}
.products .cards .card-body .card-text {
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}
.products .cards .card-body .price {
  font-weight: bold;
  font-size: 14px;
}
.products .cards .card-body .btn-div {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.products .cards .card-body .btn-div button {
  border: none;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 11px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.products .cards .card-body .btn-div button a {
  text-decoration: none;
}
.products .cards .card-body .btn-div .wish {
  border: 2px solid #bd3a3a;
  background-color: white;
  margin-right: 10px;
}
.products .cards .card-body .btn-div .wish a, .products .cards .card-body .btn-div .wish i {
  color: #bd3a3a;
}
.products .cards .card-body .btn-div .cart {
  background-color: #bd3a3a;
}
.products .cards .card-body .btn-div .cart a, .products .cards .card-body .btn-div .cart i {
  color: white;
}
.products .cards:hover .btn-div {
  opacity: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
  .flex .cards {
    flex: 0 0 47.5%;
  }
}
@media screen and (min-width: 1000px) {
  .flex .cards {
    flex: 0 0 31.6666666667%;
  }
  .stack .stack-pro {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .stack .stack-pro .card-img-top {
    flex: 1 0 500px;
  }
  .stack .stack-pro .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
  }
  .stack .stack-pro .card-body .btn-div {
    display: block;
    width: 90%;
  }
  .stack .stack-pro .card-body .btn-div .cart {
    margin: 10px 0 25px 0;
  }
}
@media screen and (min-width: 1300px) {
  .flex .cards {
    flex: 0 0 19.2%;
  }
}
.product-details, .product-dets, .product-reviews, .cart-page, .cart-summary, .user {
  width: 98%;
  height: 100%;
  margin: 0 auto;
}

.product-display {
  overflow: hidden;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  margin-bottom: 50px;
}
.product-display .product-image .big-image img {
  height: 350px;
}
.product-display .product-image .thumbnail .carousel {
  margin: 0px;
}
.product-display .product-image .thumbnail .carousel-inner {
  display: flex;
}
.product-display .product-image .thumbnail .carousel-item {
  flex: 0 0 25%;
  display: block;
  margin: 0 2px;
}
.product-display .product-image .thumbnail button {
  border: none;
  background-color: white;
  color: red;
  border-radius: 5px;
}
.product-display .product-text .header, .product-display .product-text .price {
  font: 100% Noto Sans, sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 25px;
}
.product-display .product-text .header p:last-child, .product-display .product-text .price p:last-child {
  margin-top: -5px;
}
.product-display .product-text .product-para {
  font: 100% Noto Sans, sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}
.product-display .product-text .rating span {
  font: 100% Jost, sans-serif;
  font-size: 18px;
  color: rgba(94, 99, 102, 0.662745098);
}
.product-display .product-text .dash {
  background-color: rgb(225, 225, 225);
  height: 2px;
  width: 100%;
}
.product-display .product-text .sizes p, .product-display .product-text .colors p {
  text-transform: capitalize;
  font-size: 20px;
  font: 100% Noto Sans, sans-serif;
  font-weight: 700;
  line-height: 26px;
}
.product-display .product-text .size-btns button {
  border: none;
  width: 45px;
  height: 40px;
  text-transform: uppercase;
  background-color: white;
  box-shadow: 2px 3px 10px 1px #cfcfd6;
  margin-right: 3px;
  font-weight: 600;
}
.product-display .product-text .selected {
  outline: 2px solid red;
}
.product-display .product-text .color-btns button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.product-display .product-text .color-btns button:nth-child(1) {
  background-color: #3870ca;
}
.product-display .product-text .color-btns button:nth-child(2) {
  background-color: #ff05e6;
}
.product-display .product-text .color-btns button:nth-child(3) {
  background-color: #fb8200;
}
.product-display .product-text .color-btns button:nth-child(4) {
  background-color: #000000;
}
.product-display .product-text .wish {
  border: 1px solid #bd3a3a;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 50px;
}
.product-display .product-text .wish a, .product-display .product-text .wish i {
  text-decoration: none;
  color: red;
  font-size: 16px;
  text-transform: capitalize;
}
.product-display .product-text .cart {
  border: none;
  background-color: #bd3a3a;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  justify-content: center;
}
.product-display .product-text .cart a, .product-display .product-text .cart i {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
}

.quantity {
  width: 160px;
}
.quantity button {
  border: none;
  background-color: #bd3a3a;
  font-size: 20px;
  color: white;
}
.quantity input {
  width: 50px;
  height: 47px;
  border: none;
}
.quantity input:focus {
  border: none;
  outline: none;
}
.quantity input[value] {
  font: 100% Noto Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.product-dets {
  overflow: hidden;
  margin-bottom: 50px;
}
.product-dets .product-dets-text {
  font: 100% Noto Sans, sans-serif;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
}
.product-dets .product-dets-text h5 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 34px;
  padding-bottom: 10px;
}

.dash {
  background-color: rgb(225, 225, 225);
  height: 2px;
  width: 98%;
}

.product-reviews {
  font: 100% Noto Sans, sans-serif;
}
.product-reviews .review-table {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
}
.product-reviews .review-table h5 {
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
}
.product-reviews .review-table .product-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
}
.product-reviews .review-table .rating-summary {
  background-color: #ecebeb;
  padding: 30px 80px;
  border-radius: 10px;
  margin-right: 5px;
}
.product-reviews .review-table .rating-summary p {
  font-size: 35px;
  line-height: 50px;
}
.product-reviews .review-table .rating-summary p span {
  font-weight: 700;
}
.product-reviews .review-table .rating-summary i {
  font-size: 25px;
}
.product-reviews .review-table .review-subheading h6 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
}
.product-reviews .review-table .review-subheading a, .product-reviews .review-table .review-subheading i {
  color: #bd3a3a;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.product-reviews .review-table .reviews .review-heading {
  font-weight: 700;
  line-height: 21px;
}
.product-reviews .review-table .reviews .rating {
  font-size: 12px;
  line-height: 15px;
}
.product-reviews .review-table .reviews .rating span {
  text-transform: uppercase;
}

@media screen and (min-width: 991px) {
  .product-display .product-text .qty-button {
    width: 420px;
  }
  .product-display .product-text .wish {
    flex: 1 0 36%;
  }
  .product-display .product-text .cart {
    width: 420px;
    justify-content: left;
  }
  .product-display .product-text .cart a, .product-display .product-text .cart i {
    margin-left: 40px;
  }
}
.cart-page {
  font: 100% Noto Sans, sans-serif;
}
.cart-page .cart-details {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
}
.cart-page .cart-details .cart-header {
  font-size: 26px;
  font-weight: 700;
}
.cart-page .cart-details .header, .cart-page .cart-details .price {
  font: 100% Noto Sans, sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 25px;
}
.cart-page .cart-details .header p:last-child, .cart-page .cart-details .price p:last-child {
  margin-top: -5px;
}
.cart-page .cart-details .product-para {
  font: 100% Noto Sans, sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}
.cart-page .cart-details .btn-div {
  width: 100%;
}
.cart-page .cart-details .btn-div button {
  border: none;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 16px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.cart-page .cart-details .btn-div button a {
  text-decoration: none;
}
.cart-page .cart-details .btn-div .wish {
  border: 2px solid #bd3a3a;
  background-color: white;
  margin-right: 10px;
}
.cart-page .cart-details .btn-div .wish a, .cart-page .cart-details .btn-div .wish i {
  color: #bd3a3a;
}
.cart-page .cart-details .btn-div .cart-btn {
  background-color: #bd3a3a;
}
.cart-page .cart-details .btn-div .cart-btn a, .cart-page .cart-details .btn-div .cart-btn i {
  color: white;
}
.cart-page .cart-details .price-qty .quantity, .cart-page .cart-details .price-qty .unit-price {
  text-transform: capitalize;
  line-height: 26px;
}
.cart-page .cart-details .cart-total-dets .cart-total-header {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
}
.cart-page .cart-details .cart-total-dets p {
  font-size: 20px;
  line-height: 26px;
}
.cart-page .cart-details .cart-total-dets button {
  border: none;
  border-radius: 10px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.cart-page .cart-details .cart-total-dets button a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.cart-page .cart-details .cart-total-dets .shopping-btn {
  border: 2px solid #bd3a3a;
  background-color: white;
  margin-right: 10px;
}
.cart-page .cart-details .cart-total-dets .shopping-btn a, .cart-page .cart-details .cart-total-dets .shopping-btn i {
  color: #bd3a3a;
}
.cart-page .cart-details .cart-total-dets .checkout-btn {
  background-color: #bd3a3a;
}
.cart-page .cart-details .cart-total-dets .checkout-btn a, .cart-page .cart-details .cart-total-dets .checkout-btn i {
  color: white;
}
.cart-page .cart-details .cart-total-dets .total {
  font-weight: 700;
}
.cart-page .cart-details .cart {
  border: none;
  border-radius: 10px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background-color: #bd3a3a;
}
.cart-page .cart-details .cart a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.cart-page .cart-details .payment-header h6 {
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.cart-page .cart-details form label {
  line-height: 21px;
  margin: 12px 0;
  text-transform: capitalize;
}
.cart-page .cart-details form input {
  border: 1px solid #bd3a3a;
  padding: 10px;
}
.cart-page .cart-details form input:focus {
  box-shadow: 4px 3px 2px #df8e8e;
}
.cart-page .cart-details .submit-btn, .cart-page .cart-details .order-btn {
  border: none;
  border-radius: 10px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background-color: #bd3a3a;
  color: white;
}
.cart-page .cart-details .checkout {
  background-color: #fff8f8;
  padding: 30px 15px;
  margin-bottom: 25px;
  border-radius: 10px;
}
.cart-page .cart-details .checkout .bank-trans p, .cart-page .cart-details .checkout .card-pmt p {
  line-height: 21px;
  width: 195px;
}
.cart-page .cart-details .bank-trans-text {
  background-color: #ffffff;
  width: 90%;
  border-radius: 10px;
  margin: 15px auto;
}
.cart-page .cart-details .bank-trans-text p {
  font-size: 12px;
  color: #9f9f9f;
}
.cart-page .cart-details .card-pmt .card-img-opt {
  margin-right: 10%;
}
.cart-page .cart-details .checkout-footer-text {
  font-size: 10px;
  line-height: 15px;
  color: #100f0f;
  width: 90%;
  margin-top: 50px;
}

@media screen and (min-width: 1000px) {
  .cart-page .check {
    border-right: 1px solid rgb(225, 225, 225);
  }
  .cart-page .check2 {
    border-left: 1px solid rgb(225, 225, 225);
  }
  .cart-page .cart-details .text-box {
    position: relative;
  }
  .cart-page .cart-details .btn-div {
    display: flex;
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 18%;
  }
  .cart-page .cart-details .price-qty {
    height: 100%;
    flex-basis: 42.5%;
  }
  .cart-page .cart-details .price-qty .quantity, .cart-page .cart-details .price-qty .unit-price {
    text-align: center;
  }
  .cart-page .cart-details .price-qty .quantity {
    padding-right: 50px;
    margin-left: 20px;
  }
  .cart-page .cart-details .price-qty .unit-price {
    padding-left: 30px;
  }
  .cart-page .cart-details .cart {
    width: 35%;
  }
  .cart-page .bank-trans-text {
    width: 500px;
  }
  .cart-page .card-pmt .card-img-opt {
    margin-right: 10%;
  }
  .cart-page .checkout {
    margin-bottom: 45px;
  }
  .cart-page .checkout-footer-text {
    width: 520px;
    margin-top: 100px;
    margin-left: 12%;
    font-size: 12px;
  }
}
.user-page {
  font: 100% Noto Sans, sans-serif;
  border: 1px solid rgb(225, 225, 225);
  box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 3px 4px 22px 1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 100px 0;
}
.user-page .user-dets h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}
.user-page .user-dets form {
  width: 93%;
}
.user-page .user-dets form label {
  line-height: 21px;
  margin: 12px 0;
  text-transform: capitalize;
}
.user-page .user-dets form input {
  border: 1px solid #bd3a3a;
  padding: 10px;
}
.user-page .user-dets form input[type=password]:focus, .user-page .user-dets form input[type=email]:focus {
  box-shadow: 4px 3px 2px #df8e8e;
}
.user-page .user-dets form .fgt-password {
  margin-top: 20px;
}
.user-page .user-dets .login-btn, .user-page .user-dets .createAcc-btn {
  border: none;
  border-radius: 10px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  background-color: #bd3a3a;
  color: white;
}
.user-page .user-dets .create-acc p {
  margin-top: 15%;
}

@media screen and (min-width: 1000px) {
  .check {
    border-right: 1px solid rgb(225, 225, 225);
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
