@keyframes wordchange {
  0% {
    content: "Men";
  }
  20% {
    content: "Women";
  }
  40% {
    content: "Kids";
  }
  60% {
    content: "yourself";
  }
  80% {
    content: "Women";
  }
  100% {
    content: "Kids";
  }
}
.row {
  padding: 0 !important;
}

.header .nav-link {
  text-transform: capitalize;
  color: black;
  font-weight: 500;
}
.header .navbar-nav .allProdDrop {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}
.header .navbar-nav .allProdDrop ul {
  list-style: none;
}
.header .navbar-nav .allProdDrop a {
  text-decoration: none;
}
.header .navbar-nav .allProdDrop li {
  width: 90%;
  background-color: red;
  margin-bottom: 5px;
}
.header .hero .herotext .hero-title {
  font-size: 25px;
  font-weight: 500;
}
.header .hero .herotext h1 {
  font-weight: 900;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 0;
}
.header .hero .herotext span::after {
  content: "";
  animation: wordchange infinite 5s;
}
.header .hero .buttons button {
  font-weight: 700;
  border: 2px solid black;
  outline: none;
}
.header .hero .shopbtn {
  background-color: black;
  color: white;
}
.header .hero .learnbtn {
  background-color: white;
}

.viewbtn, .explorebtn {
  font-weight: 700;
  border: 2px solid black;
  outline: none;
  border: 1px solid black;
  background-color: white;
}

.collection .collectionText {
  font-weight: 700;
}
.collection .collectionText .collection-title {
  font-size: 48px;
  margin-top: -20px;
}
.collection .collectionText .leadpara {
  font-size: 30px;
  color: #616161;
}
.collection .collectionText .textpara {
  font-weight: 400;
  font-size: 13px;
  color: #424242;
}

.category .section-header {
  text-transform: capitalize;
}
.category .section-header .section-title {
  font-weight: 700;
  font-size: 35px;
}
.category .section-header ul {
  list-style: none;
  padding-left: 0 !important;
}
.category .section-header li {
  display: inline-block;
}
.category .section-header a, .category .section-header a:visited, .category .section-header a:checked {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 15px 20px;
  outline: 0.5px solid black;
}
.category .section-header a:active {
  border-bottom: 2px solid black;
  color: #828282;
}
.category .section-header .subnav a {
  font-size: 17px;
  padding: 15px 20px;
  outline: 0.5px solid #F1F1F1;
  background-color: red;
}

.blog .insights {
  width: 85%;
  background-color: #E0E0E0;
}
.blog .writer {
  font-size: 14px;
}
.blog .writer .writer-name {
  font-weight: 700;
}
.blog .readbtn {
  font-weight: 700;
  border: 2px solid black;
  outline: none;
  border-radius: 0;
  font-size: 14px;
  border: 1px solid black;
}

.blog-list .title {
  font-size: 48px;
  font-weight: 700;
}
.blog-list-title {
  font-size: 26px;
  font-weight: 700;
}
.blog-list-para {
  font-size: 20px;
  text-align: justify;
}
.blog-list .insights {
  width: 50%;
  background-color: #fcfcfc;
}

article .title {
  font-size: 48px;
  font-weight: 700;
  color: #212121;
}

.blog-news .insights {
  background-color: #e0e0e0;
}
.blog-news .blog-text {
  text-align: justify;
  font-size: 20px;
  color: #424242;
}
.blog-news .readbtn {
  font-weight: 700;
  border: 2px solid black;
  outline: none;
  border: 1px solid black;
  border-radius: 0;
}

@media screen and (max-width: 650px) {
  body {
    overflow-x: hidden !important;
  }
  .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .hero .herotext .hero-title {
    font-size: 5px;
  }
  .hero .herotext h1 {
    font-size: 50px;
    margin-left: 20px;
  }
  .hero .buttons button {
    width: 100%;
    margin-bottom: 5px;
  }
  .collection .explorebtn, .collection .viewbtn {
    width: 100%;
  }
  .category .section-header .section-title {
    font-size: 32px;
  }
  .category .section-header li {
    padding: 5px;
  }
  .category .section-header a {
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) and (max-width: 2000px) {
  body {
    overflow-x: hidden !important;
  }
  .row {
    padding: 0;
  }
  .header .navbar-nav .allProdDrop {
    min-width: fit-content;
    min-height: 300px;
  }
  .header .navbar-nav .allProdDrop h3 {
    text-align: left;
    margin-left: 50px;
  }
  .header .navbar-nav .allProdDrop ul {
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }
  .hero .herotext h1 {
    width: 65%;
  }
  .collection .textcol {
    background-color: #F1F1F1;
  }
  .collection .collectionText {
    width: 60%;
    margin: 170px 0 0 70px;
    font-weight: 700;
  }
  .collection .collectionText .collection-title {
    font-size: 53px;
  }
  .collection .collectionText .textpara {
    width: 90%;
  }
  .collection .collectionText .explorebtn {
    padding: 10px 70px;
  }
  .collection .pic {
    background-color: #F1F1F1;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
