@use 'variables' as *;

.cart-page {
    font: 100% $secondary-font;
    .cart-details {
        border: 1px solid rgba(225, 225, 225, 1);
        border-radius: 10px;
        .cart-header {
            font-size: 26px;
            font-weight: 700;

        }
        .header, .price {
            font: 100% $secondary-font;
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 25px;
            & p:last-child {
                margin-top: -5px;
            }
        }
        .product-para {
            font: 100% $secondary-font;
            font-size: 20px;
            line-height: 26px;
            text-transform: capitalize;
        }
        .btn-div {
            width: 100%;
            button {
                border: none;
                border-radius: 10px;
                text-transform: capitalize;
                font-size: 16px;
                width: 100%;
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                }
            }
            .wish {
                border: 2px solid #bd3a3a;
                background-color: white;
                margin-right: 10px;
                a, i {
                    color: #bd3a3a;
                }
            }
            .cart-btn {
                background-color: #bd3a3a;
                a, i {
                    color: white;
                }
            }
        }
        .price-qty {
            .quantity, .unit-price {
                text-transform: capitalize;
                line-height: 26px;
            }
        }
        .cart-total {
            &-dets {
                .cart-total-header {
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 34px;
                    text-transform: uppercase;
                }
                p {
                    font-size: 20px;
                    line-height: 26px;
                }
                button {
                    border: none;
                    border-radius: 10px;
                    text-transform: capitalize;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                    a {
                        font-weight: bold;
                        font-size: 16px;
                        text-decoration: none;
                    }
                }
                .shopping-btn {
                    border: 2px solid #bd3a3a;
                    background-color: white;
                    margin-right: 10px;
                    a, i {
                        color: #bd3a3a;
                    }
                }
                .checkout-btn {
                    background-color: #bd3a3a;
                    a, i {
                        color: white;
                    }
                }
                .total {
                    font-weight: 700;
                }
            }
        }
        .cart {
            border: none;
            border-radius: 10px;
            text-transform: capitalize;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            background-color: #bd3a3a;

            a {
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
}







@media screen and (min-width: 1000px) {
    .cart-page {
        .check {
            border-right: 1px solid rgba(225, 225, 225, 1);
        }
        .check2 {
            border-left: 1px solid rgba(225, 225, 225, 1);
        }
        .cart-details {
            .text-box {
                position: relative;
            }
            .btn-div {
                display: flex;
                width: 40%;
                position: absolute;
                bottom: 0;
                left: 18%;
            }
            .price-qty {
                height: 100%;
                flex-basis: calc(85%/2);
                .quantity, .unit-price {
                    text-align: center;
                }
                .quantity {
                    padding-right: 50px;
                    margin-left: 20px;
                }
                .unit-price {
                    padding-left: 30px;
                }
            }
            .cart {
                width: 35%;
            }
        }
    }
}