@use 'mixins' as *;
@use 'variables' as *;

.row {
    padding: 0 !important;
}
.header {
    .nav-link {
        text-transform: capitalize;
        font-weight: 500;
        color: black;
    }
    .navbar-nav {
        font: 100% $secondary-font;
    }
    .hero {
        .herotext{
            .hero-title {
                font-size: 25px;
                font-weight: 500;
            }
            h1 {
                font-weight: 900;
                letter-spacing: 1.5px;
                padding: 0;
                margin: 0;
            }
            span::after {
                content: "";
                animation: wordchange infinite 5s; 
            }
        }
        .buttons button{
            @include buttons;
        }
            
        .shopbtn {
            background-color: black;
            color: white;
        }
        .learnbtn{
            background-color: white;
        }
    }
}

.main-drop {
    background-color: pink;
    border: 0;
    border-radius: 0;
    width: 96vw;
    height: 50vh;
    h3 a {
        font: 100% $secondary-font;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 26px;
        color: black;
    }
    .drop-header {
        background-color: red;

        & > li:nth-child(2) {
            margin-left: 350px;
        }

        & > li:nth-child(3) {
            margin-left: 200px;
        }
    }
    .main-link > a {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }
}




.viewbtn, .explorebtn {
    @include buttons;
    border: 1px solid black;
    background-color: white;
}
.collection {
    .collectionText {
        font-weight: 700;
        .collection-title {
            font-size: 48px;
            margin-top: -20px;
        }
        .leadpara {
            font-size: 30px;
            color: #616161;
        }
        .textpara {
            font-weight: 400;
            font-size: 13px;
            color: #424242;
        }
    }
    
    
}
.category {
    .section-header {
        text-transform: capitalize;
        .section-title {
            font-weight: 700;
            font-size: 35px;
        }
        ul {
            list-style: none;
            padding-left: 0 !important;
        }
        li {
            display: inline-block;
        }
        a, a:visited, a:checked {
            text-decoration: none;
            color: black;
            font-size: 25px;
            padding: 15px 20px;
            outline: 0.5px solid black;
        }
        a:active {
            border-bottom: 2px solid black;
            color: #828282;
        }
        .subnav a {
            font-size: 17px;
            padding: 15px 20px;
            outline: 0.5px solid #F1F1F1;
            background-color: red;
        }
    }
}
.blog {
    .insights {
        width: 85%;
        background-color: #E0E0E0;
    }
    .writer {
        font-size: 14px;
        .writer-name {
            font-weight: 700;  
        }
    }
    .readbtn {
        @include buttons;
        border-radius: 0;
        font-size: 14px;
        border: 1px solid black;
    }
}
